[2021-01-22 14:52] HuangJunye opened #1 "Update HHL Section in Qiskit Textbook"
# Description
The textbook will soon be moving to a new platform that will allow us to use new features to improve the teaching in the textbook. While migrating to this new platform, we will be rewriting large parts of the textbook using the experience gained from writing and maintaining past chapters.

The [HHL chapter](https://qiskit.org/textbook/ch-applications/hhl_tutorial.html) in the textboo

[2021-01-22 15:11] HuangJunye opened #2 "Upgrade Qiskit Textbook pulse section"
# Description
Recently we introduced [builder programming model](https://qiskit.org/documentation/apidoc/pulse.html#pulse-builder-builder) to [Qiskit Pulse](https://qiskit.org/documentation/apidoc/pulse.html) which enables users to program pulse schedule more efficiently and intuitively. However current [tutorial](https://qiskit.org/documentation/tutorials/circuits_advanced/index.html) and [textbo

[2021-01-22 15:16] HuangJunye opened #3 "Generation (and analysis) of quantum randomness (for procedural generation)"
# Description
It is quite easy to get random bits using a quantum computer, thats why a lot of "games using a quantum computer" or other small (hackaton) projects only use the quantum computer for randomness.
Two interesting questions are:
1. Is the "quantum randomness" really better than the classical one (for procedural generation)?
2. And can we do better than just using Hadamard gates? (genera

[2021-01-22 15:28] HuangJunye opened #4 "Lossy Image Compression using Unity and real Quantum Computers"
# Description
It is in theory possible to encode images without loss as quantum circuits.
In practice, however, this will normally lead to circuits which include a lot of gates and, therefore, are not suited for real quantum computers.
The idea here is to implement (several) lossy image compression/encoding method(s) which will lead to smaller circuits.
Additional the resulting circuits should be

[2021-01-22 15:38] HuangJunye opened #5 "Good first issues in qiskit-terra"
# Description
Qiskit (Terra in particular) has several bugs tagged as good first issues. These issues are low priority, relatively simple to fix, and they can be a good introduction the Qiskit codebase. This project is about closing as many of those issues as possible.

The full list of `good first issues` in qiskit-terra can be found [here](https://github.com/Qiskit/qiskit-terra/issues?page=1&q=i

[2021-01-27 09:26] HuangJunye opened #6 "Reverse dependency monitoring"
# Description

 - take many of software that depends on (aka on top of) Qiskit that we want to highlight. They should have some tests.
 - We can run those tests with Qiskit stable and master to make sure the project works with current Qiskit.
 - internally it will look like a table that will allow to see whether each project works with which versions of Qiskit
 - if a project does not run Qiskit 0

[2021-01-27 09:28] HuangJunye opened #7 "Passmanager leaderboard"
# Description

A platform where people can "submit" their [passmanager/passes](https://qiskit.org/documentation/tutorials/circuits_advanced/04_transpiler_passes_and_passmanager.html) and they are compared. A rolling leaderboard will show the comparison.

Take a look to the videos here https://ibm.box.com/s/779mnqzbujgb27qsxr98vnat8bd9z2ri for more details on the current state.

# Mentor/s
Luciano

[2021-01-27 14:45] HuangJunye opened #8 "Good first issues in retworkx"
# Description

[retworkx](https://github.com/Qiskit/retworkx) is a general purpose graph library for python3 written in Rust to take advantage of the performance and safety that Rust provides. It was built as a replacement for qiskit's previous (and current) networkx usage (hence the name) but is designed to provide a high performance general purpose graph library for any python application. The p

[2021-01-27 14:48] HuangJunye opened #9 "Update Ignis Discriminator"
# Description
Update [the discriminator module](https://qiskit.org/documentation/_modules/qiskit/ignis/measurement/discriminator/discriminators.html) in Ignis to make the scikit-learn dependency optional by implementing the mathematical forms of linear and quadratic discriminant analysis (LDA and QDA).

# Mentor/s
Helena Zhang (@coruscating), Quantum software developer at IBM Quantum.

# Type of p

[2021-01-27 14:49] HuangJunye opened #10 "Qiskit-Ignis tutorial for expectation value measurement mitigation"
# Description
Recently, a new measurement error mitigation technique was added in [Qiskit Ignis](https://github.com/Qiskit/qiskit-ignis).
In this project, we will create a tutorial about this new feature which is based on [this paper](https://arxiv.org/abs/2006.14044).

# Mentor/s
Hwajung Kang (@HwajungKang), Quantum community and education developer at IBM Quantum.

# Type of participant
Someone

[2021-01-27 14:52] HuangJunye opened #11 "Enhance Qiskit papers database & replication study"
# Description

This project would build on efforts to catalog papers published using Qiskit or IBM Quantum systems (available [here](https://airtable.com/shrOkqk6NAUzYry8F)). In particular, this project would have 2 parts:

* In the first part, the database entries would be verified for inclusion (i.e., toss out entries that are actually invalid). Entries would also gain additional metadata about

[2021-01-28 10:50] Cryoris opened #12 "Arithmetic circuit library"
# Description
Imagine your given the task to write a numerical program on your computer, maybe a simple one like summing certain numbers or a bit more difficult to integrate a function. Now you know an algorithm and you'll start implementing it. Are you writing bit-operations?

No, most certainly not! You'll use fundamental arithmetic operations like `* + - / ^` or even an existing library.

But i

[2021-01-28 11:14] Cryoris opened #13 "Amplitude estimation: Counting, Simplified"
# Description

Amplitude estimation is a quantum algorithm that is able to approximate the probability to measure a certain state in a provided quantum state.

<img width="400" alt="image" src="https://user-images.githubusercontent.com/5978796/106129751-d304e480-6160-11eb-863c-c52fa158f01f.png">

This is a very important algorithm with practical applications, such as computing integrals or expecta

[2021-01-28 11:23] Cryoris opened #14 "Implement the meta-VQE algorithm"
# Description
The variational quantum eigensolver (VQE) is maybe one of the famous quantum algorithms: provided with a Hamiltonian describing a quantum system and a parameterized ansatz state, it finds the optimal parameters such that the ansatz minimizes the energy of the system. In chemistry, finding the ground state is a hard problem and the VQE is a promising candidate to solve systems we're u

[2021-01-29 15:24] ryanfmandelbaum opened #15 "Find and write recurring blog posts about Qiskitter work"
# Description
As advocates, you know more about the Qiskit community than just about anyone. I'm always looking for cool projects that would be interesting to the broader QIskit community, translated into language that even the newest Qiskitter can understand. (See [this blog post](https://medium.com/qiskit/learn-quantum-computing-with-these-seven-projects-7478d90d125a) for example) Essentially, I

[2021-01-29 15:30] JavaFXpert opened #16 "Hearing Quantum Evolution"
# Description
When a quantum state evolves, there are 2^n basis states whose probability amplitudes and phases evolve as well. Quantum states may be represented in a [Hilbert space](https://en.wikipedia.org/wiki/Hilbert_space), and their evolution may be modeled by unitary matrices from which 2^n wave patterns may be derived, each having amplitude and frequency.

Unfortunately, nature doesn't perm

[2021-01-30 10:20] #13 closed, assigned to Cryoris

[2021-01-30 10:32] Cryoris opened #17 "Generalizing Grover Adaptive Search for optimization with constraints"
# Description
Grover Adaptive Search (Ref. [1]) is an optimization algorithm based on Grover search. The idea behind the algorithm is to define "hits in the database" as all states that produce an objective value beneath a certain threshold. By iteratively decreasing the threshold until only state is left we can find the minimum. Qiskit implement this algorithm in `qiskit.optimization.algorithms.G

[2021-01-30 11:22] Cryoris opened #18 "Exact synthesis of single qubit gates into Clifford+T gates"
# Description
Most circuits we build today use continuous gates, such as rotation gates with an arbitrary rotation angle. Fault-tolerant quantum computing, however, will require us to decompose all our circuits into a universal _discrete_ gate set, such as [Clifford gates](https://en.wikipedia.org/wiki/Clifford_gates) (such as `H` and `S`) and the `T` gate.

Finding a mapping from arbitrary single

[2021-01-31 08:10] ShellyGarion opened #19 "Enhance Qiskit-Ignis tutorial with advanced Randomized Benchmarking methods"
# Description

Enhance the current [Randomized Benchmarking tutorial](https://qiskit.org/documentation/tutorials/noise/4_randomized_benchmarking.html) with advanced methods:

- Interleaved Randomized Benchmarking ([arXiv:1203.4550](https://arxiv.org/abs/1203.4550))
- Purity Randomized Benchmarking ([arXiv:1604.03076](https://arxiv.org/abs/1604.03076))
- CNOT-Dihedral Randomized Benchmarking [(arXi

[2021-01-31 08:28] ShellyGarion opened #20 "Bayesian techniques for Randomized Benchmarking"
# Description

Enhance the current [Randomized Benchmarking experiments](https://github.com/Qiskit/qiskit-ignis/tree/master/qiskit/ignis/verification/randomized_benchmarking) in Qiskit-Ignis with advanced statistical and Bayesian techniques, based on the following papers:

1. [Bayesian Inference for Randomized Benchmarking Protocols](https://arxiv.org/abs/1802.00401)

2. [Statistical analysis of r

[2021-01-31 18:13] amyami187 opened #21 "Quantum finance explainer"
# Description
The idea of this project is build an "explainer" of technical concepts in finance and identify areas where quantum computing can benefit. As an example, see this [explainer on quantum machine learning](https://journals.co.za/doi/pdf/10.10520/EJC-18eea9e02a). First, we will need to explore the bottlenecks in financial modelling and familiarize ourselves with existing quantum finance l

[2021-02-01 05:42] BryceFuller opened #22 "Implement new classical optimizers in qiskit"
# Description

New optimization algorithms are being developed in the context of classical machine learning, which could find application in training quantum circuit parameters. The core of this project will be to work with your mentor to identify, implement, and document 2-3 promising classical optimizers for use in qiskit. For example, an optimizer might be considered 'promising' by offering noi

[2021-02-01 06:31] BryceFuller opened #23 "Implement Non-Destructive Amplitude Estimation using QASM 3"
# Description
Note: this project is only possible if the mentorship program begins after the adoption of QASM 3.0 in qiskit. The release timeline is not clear to me.

[Amplitude Estimation](https://arxiv.org/pdf/quant-ph/0005055.pdf) plays a crucial role in many quantum algorithms and much effort has been recently spent on improving this subroutine. The goal of this project is to implement a parti

[2021-02-01 07:12] a-matsuo opened #24 "Implement a special converter of Quadratic Program of Qiskit Optimization"
# Description
We work on implementing special converters for specific constraints.
When users solve an optimization problem with Qiskit Aqua, they apply InequalityToEquality to convert inequality constraints into equality constraints by introducing slack variables, and then apply LinearEqualityToPenalty to translate the constraints into penalties of the objective function of QUBO. But, there are s

[2021-02-02 09:19] 1ucian0 opened #25 "Implement/integrate t|ket> routing in Qiskit"
# Description
Qiskit loses against t|ket> in the [QUEKO benchmarks](https://arxiv.org/abs/2002.09783) ([video](https://www.youtube.com/watch?v=Z9R9a3hku9Y)). One option is to integrate t|ket> routing elements into Qiskit, but I'm not sure if their license is fully compatible with ours. Ideally, we could reimplement the algorithm from [their paper](https://drops.dagstuhl.de/opus/volltexte/2019/1039

[2021-02-02 14:57] mtreinish commented on #25
tket is proprietary software and not compatible for use within qiskit at all. Also pytket already extends qiskit: https://github.com/CQCL/pytket if you are willing to agree to their licensing terms.

[2021-02-02 15:34] 1ucian0 commented on #25
While it might be possible to extract some good ideas from [their paper](https://arxiv.org/pdf/1902.08091.pdf) I'm not sure if the level of details is good enough and about the legal implications in terms of IP.

[2021-02-02 15:34] #25 closed

[2021-02-03 09:56] hykavitha commented on #17
Please add me to this work.

[2021-02-03 16:09] HuangJunye commented on #17
@hykavitha Thanks for the interest in this project. I can see that you have indicated this project as your 1st choice in the application from. Now you are all set! Of course, you are welcome to ask Julien any questions about the project in this issue.

[2021-02-04 10:21] EACMichiels opened #26 "Applying Qiskit to match a Business Challenge to a Quantum Computing Solution"
# Description
On one hand we see the Qiskit community demonstrating amazing innovation and creating fantastic deliverables. On the other hand we see quite some Business Leaders having interest in Quantum Computing, but not seeing the benefits on the short term. As such, corporations are somewhat doubting to start investing in Quantum Computing, while there are no "fast followers" in Quantum. The i

[2021-02-04 15:11] pdc-quantum opened #27 "Quantum State Classifier to Optimize the Transmission of Highly Entangled States"
# Description

The aim is to optimize the quantum computing resource during the transmission of highly entangled states pertaining to a finite set.  For this purpose, a quantum state classifier based on distance matrix computation uses a predetermined reference probability distribution matrix (PDM), either empirically observed or corresponding to an ideal device. A Monte Carlo simulation determine

[2021-02-04 21:32] coruscating commented on #9
@Travis-S-IBM Here's the related issue: https://github.com/Qiskit/qiskit-ignis/pull/524

Basically, it's a bulky requirement that isn't hard to make optional in Ignis. @mtreinish tagging you so you see this, feel free to add to the conversation if you'd like.

[2021-02-05 08:23] HuangJunye commented on #26
Thanks @EACMichiels for proposing the project idea. I will add you as a mentor and add your project idea to the application form.

[2021-02-05 08:25] HuangJunye commented on #27
Thank Pierre for the idea! I will add you to the mentor list and add the project to the application form.

[2021-02-05 18:13] edwinagnew opened #28 "Conditional Measurement for Reliable Search"
# Description
I noticed that if you control cswaps with a Grover's-like oracle, you will measure only solutions or all zeros. Though it doesn't affect the amplitude of the solutions, I believe this could be applied to create more reliable search, particularly for problems which cannot be verified efficiently or for which the number of solutions is initially unknown. Since it requires the addition

[2021-02-09 10:01] hykavitha commented on #24
I'm interested in this topic to work.

[2021-02-10 14:43] BryceFuller opened #29 "Add Analytic Gradient Support for `CVaRMeasurements`"
# Description
The gradients framework [(released in Q3 of last year)](https://medium.com/qiskit/introducing-the-new-qiskit-chemistry-module-and-gradients-framework-for-next-level-quantum-ebaf2be4c1a) has enabled qiskit to integrate more easily with existing autograd frameworks. The ability to apply the Conditional Value at Risk (CVaR) cost function was also added; however, it does not yet support

[2021-02-12 04:54] dsierrasosa opened #30 "Classical data preprocessing influence on QML"
# Description
With this project we are looking forward to study the effect of data pre-processing and data transformation in Quantum Machine Learning Techniques. This analysis will be conducted of synthetic datasets assessing the performance of already implement quantum machine learning algorithms. For this project we have formed a small study group and have found some hints that under some transf

[2021-02-12 06:50] YumaNK opened #31 "Advanced Quantum Monte Carlo Simulation"
# Description

## WHAT PROBLEM ARE YOU TRYING TO SOLVE?
We consider the problem of finding high-dimensional integrals by quantum Monte Carlo methods. When solving high-dimensional problems using classical Monte Carlo methods, the problems suffer from (1) reduced accuracy due to the poor dimensional distribution of the output sequence caused by the use of a pseudo-random number generator and (2) sl

[2021-02-12 07:36] YumaNK commented on #21
I opened issue that might be the specific direction of exploration of quantum finance (#31)

[2021-02-15 07:30] HuangJunye opened #32 "QPong 1.0"
# Description

Feb 28 this year is the 2nd anniversary of [QPong](https://github.com/HuangJunye/QPong). Let's make QPong even more awesome (& to reach 1.0 finally!) by adding these features:

- [ ] Local multiplayer
- [ ] Match IQX circuit composer style
- [ ] Use latest Qiskit version
- [ ] Clean up the code and make it modular
- [ ] Online multiplayer (challenging)

If we could manage to make an

[2021-02-15 08:47] pdc-quantum commented on #27
@HuangJunye Thanks!

[2021-02-15 13:24] Chriscrosser3310 opened #33 "Simulate Large Structured Circuits with Truncated MPS"
# Description
Perfect quantum computers are unarguably hard to simulate, but simulating noisy quantum computers can be done with much less computational cost. Truncated Matrix Product State (MPS) is widely known as a fast approximate method to simulate low-entanglement quantum systems, and the truncation introduces a finite error that makes the simulation closely mimic noisy real quantum computers

[2021-02-15 13:58] Chriscrosser3310 opened #34 "DMRG formulation in ZXH-calculus"
# Description
ZX-calculus is a rigorous graphical language for reasoning about linear maps between qubits. However, due to the small number of generators and fixed-dimension wires, it has difficulty reasoning quantum systems beyond qubits. A recent paper titled [AKLT-states as ZX-diagrams: diagrammatic reasoning for quantum states](https://arxiv.org/pdf/2012.01219.pdf) solves this issue by introdu

[2021-02-15 14:40] #33 closed

[2021-02-15 14:41] Chriscrosser3310 commented on #33
Due to personal reasons, I decided to close this project I proposed

[2021-02-15 22:17] amacaluso opened #35 "Applied Quantum Machine Learning for Image Classification"
# Description
In the last few years, many Quantum Machine Learning (QML) algorithms have been proposed in the literature, promising several theoretical advantages with respect to their classical counterparts. However, when it comes to actual implementation to solve typical data analysis problems, there are many technical issues to face.

In this project, the idea is to write one or more tutorials

[2021-02-15 22:33] kareem1925 opened #36 "Quantum Optimization for the Graph Coloring Problem with Space-Efficient Embedding"
# Description
Current quantum computing devices have different strengths and weaknesses depending on their architectures. This means that flexible approaches to circuit design are necessary. We address this task by introducing a novel space-efficient quantum optimization algorithm for the graph coloring problem. Our circuits are deeper than the ones of the standard approach. However, the number of

[2021-02-15 22:45] kareem1925 opened #37 "Sentiment Analysis With Quantum Attention"
# Description
Attention mechanism has become the SOTA in NLP domains and tasks. The target is to either enhance the current methods using quantum computing or compare the performance of a quantum machine learning technique against a classical model over a specific task such as "**sentiment analysis**".

# Mentor/s
@amyami187, @kareem1925, @HuangJunye
# Type of participant
The participant should be

[2021-02-16 00:20] kareem1925 commented on #35
I would love to help and participate

[2021-02-16 01:47] zyzhang1992 opened #38 "Quantum Algorithm for a Convergent Series of Approximations towards the Exact Solution of the Lowest Eigenstates of a Hamiltonian"
# Description
We present quantum algorithms, for Hamiltonians of linear combinations of local unitary operators, for Hamiltonian matrix-vector products and for preconditioning with the inverse of shifted reduced Hamiltonian operator that contributes to the diagonal matrix elements only. The algorithms implement a convergent series of approximations towards the exact solution of the full CI (config

[2021-02-18 14:48] 1ucian0 opened #39 "Unified API to import/export circuits in Qiskit"
# Description

There are several way to import and export circuit to and from Qiskit, being OpenQASM2 the most popular one. However, in order to improve interoperability with 3rd parties, we need to organize that a bit. The first stage is to move all the qasm2-related code we have around into a `qiskit.qasm2` module. After that, we can take other serializer like https://github.com/jwoehr/nuqasm2 o

[2021-02-19 12:41] Cryoris commented on #31
Here's an implementation of the Foreman paper you mentioned: https://qiskit-rng.readthedocs.io/en/latest/ (I haven't tested it myself though 🙂)

[2021-02-22 11:33] eraraya-ricardo commented on #14
I am interested in this project and I noticed that the author of the paper has made a Jupyter Notebook tutorial but in PennyLane (https://github.com/AlbaCL/qhack21/blob/main/Meta-VQE.ipynb). I am putting the link here since I think it will be useful for this project.

[2021-02-27 17:36] hykavitha commented on #11
@Travis-S-IBM @HuangJunye : i would be interested to replication study as it involves deep dive into qiskit,

[2021-03-04 09:24] wmarufhossain commented on #31
Hello, I would like to start from the Pseudo random generator part.

[2021-03-05 15:42] #32 closed

[2021-03-05 15:42] #34 closed

[2021-03-05 15:42] #35 closed

[2021-03-05 15:42] #36 closed

[2021-03-05 15:42] #37 closed

[2021-03-05 15:42] #38 closed

[2021-03-05 15:43] #28 closed

[2021-03-05 15:43] #29 closed

[2021-03-05 15:43] #26 closed

[2021-03-05 15:43] #23 closed

[2021-03-05 15:44] #17 closed

[2021-03-05 15:44] #18 closed

[2021-03-05 15:44] #19 closed

[2021-03-05 15:44] #6 closed

[2021-03-05 15:44] #7 closed

[2021-03-05 15:44] #14 closed

[2021-03-05 15:50] HuangJunye commented on #22
@molar-volume Can you comment on this issue so that I can assign you? Please also work with your mentor to refine the project, define scope and deliverables and update the project description in this issue.

[2021-03-05 15:51] HuangJunye commented on #16
@Abhigyan-Mishra @ icepolarizer Can you comment on this issue so that I can assign you? Please also work with your mentor to refine the project, define scope and deliverables and update the project description in this issue.

[2021-03-05 15:53] HuangJunye commented on #15
@EACMichiels @thetronjohnson Can you comment on this issue so that I can assign you? Please also work with your mentor to refine the project, define scope and deliverables and update the project description in this issue.

[2021-03-05 15:54] HuangJunye commented on #11
@bagmk Can you comment on this issue so that I can assign you? Please also work with your mentor to refine the project, define scope and deliverables and update the project description in this issue.

[2021-03-05 15:57] HuangJunye commented on #11
@kareem1925 You are working on this project idea with Waheeda. Can you create a separate issue so that I can assign you and Waheeda on it? Also update the project description to reflect that exact paper that you are trying to work on.

[2021-03-05 16:00] HuangJunye commented on #8
@nahumsa @IvanIsCoding @georgios-ts @Chriscrosser3310 Can you comment on this issue so that I can assign you? Please also work with your mentor to refine the project, define scope and deliverables and update the project description in this issue.

[2021-03-05 16:01] HuangJunye commented on #9
@AzizNgoueya @sumitpuri @obliviateandsurrender Can you comment on this issue so that I can assign you? Please also work with your mentor to refine the project, define scope and deliverables and update the project description in this issue.

[2021-03-05 16:02] HuangJunye commented on #1
@hykavitha @zyzhang1992 Can you comment on this issue so that I can assign you? Please also work with your mentor to refine the project, define scope and deliverables and update the project description in this issue.

[2021-03-05 16:02] HuangJunye commented on #20
@pdc-quantum @shesha-raghunathan Can you comment on this issue so that I can assign you? Please also work with your mentor to refine the project, define scope and deliverables and update the project description in this issue.

[2021-03-05 16:03] HuangJunye commented on #12
@mantcep @ManjulaGandhi Can you comment on this issue so that I can assign you? Please also work with your mentor to refine the project, define scope and deliverables and update the project description in this issue.

[2021-03-05 16:05] Travis-S-IBM commented on #11
Noting here @bagmk and I are working on replicating this paper: [_Evaluation of Parameterized Quantum Circuits: on the relation between classification accuracy, expressibility and entangling capability_](https://arxiv.org/abs/2003.09887).

[2021-03-05 16:05] HuangJunye commented on #31
@amyami187 @YumaNK Are you going to work this direction of #21? If yes can you update the project after meeting and refining the project details and scope?

[2021-03-05 16:06] HuangJunye commented on #39
@jwoehr Can you comment on this issue so that I can assign you? Please also work with your mentor to refine the project, define scope and deliverables and update the project description in this issue.

[2021-03-05 16:06] HuangJunye commented on #5
@TharrmashasthaPV Can you comment on this issue so that I can assign you? Please also work with your mentor to refine the project, define scope and deliverables and update the project description in this issue.

[2021-03-05 16:07] nahumsa commented on #8
🤚🏼

[2021-03-05 16:08] georgios-ts commented on #8
@HuangJunye

[2021-03-05 16:08] HuangJunye commented on #3
@edwinagnew @Matt-Stypulkoski Can you comment on this issue so that I can assign you? Please also work with your mentor to refine the project, define scope and deliverables and update the project description in this issue.

[2021-03-05 16:09] HuangJunye commented on #4
@alanspace Can you comment on this issue so that I can assign you? Please also work with your mentor to refine the project, define scope and deliverables and update the project description in this issue.

[2021-03-05 16:11] bagmk commented on #11
Thank you @HuangJunye, we will start working together to replicate the paper that @Travis-S-IBM mentioned.

[2021-03-05 16:11] molar-volume commented on #22
Hi @HuangJunye,
sure you can assign it to me, thanks.

[2021-03-05 16:15] Chriscrosser3310 commented on #8
Comment

[2021-03-05 16:18] HuangJunye commented on #2
@splch @0sophy1 @kUmezawa @faraimazh @nkanazawa1989 Can you comment on this issue so that I can assign you? Please also work with your mentor to refine the project, define scope and deliverables and update the project description in this issue.

[2021-03-05 16:19] IvanIsCoding commented on #8
@HuangJunye, I am meeting with Matthew today to define the deliverables

[2021-03-05 16:20] HuangJunye commented on #24
@ibmamnt @knamba-jp Can you comment on this issue so that I can assign you? Please also work with your mentor to refine the project, define scope and deliverables and update the project description in this issue.

[2021-03-05 16:21] HuangJunye commented on #27
@cnktysz @spencerking Can you comment on this issue so that I can assign you? Please also work with your mentor to refine the project, define scope and deliverables and update the project description in this issue.

[2021-03-05 16:22] faraimazh commented on #2
A great project to work on alongside a great mentor and great opportunities to collaborate.

[2021-03-05 16:22] HuangJunye commented on #30
@iqranaz240 @rochisha0 @e-eight Can you comment on this issue so that I can assign you? Please also work with your mentor to refine the project, define scope and deliverables and update the project description in this issue.

[2021-03-05 16:22] Matt-Stypulkoski commented on #3
Sounds good. Excited to work on the project!

[2021-03-05 16:24] alanspace commented on #4
Hello Junye,

Thank you for your email. I will meet my mentor next Monday. The
description will be filled in afterward.

Thanks and regards,

Alan

On Sat, Mar 6, 2021 at 12:09 AM Junye Huang <notifications@github.com>
wrote:

[2021-03-05 16:25] TharrmashasthaPV commented on #5
Thanks @HuangJunye . We are working on it with a lot of excitement.

[2021-03-05 16:41] thetronjohnson commented on #15
@HuangJunye Yes, I'll be meeting with my mentor next week to discuss everything

[2021-03-05 16:48] dsierrasosa commented on #30
Thank you @HuangJunye looking forward to start working on this project.

[2021-03-05 17:03] rochisha0 commented on #30
Please assign this to me!

[2021-03-05 17:04] cnktysz commented on #27
Hello @HuangJunye we will be doing that soon. Thanks.

[2021-03-05 17:05] edwinagnew commented on #3
Looking forward to getting started!

[2021-03-05 17:09] zyzhang1992 commented on #1
Glad to be working on this project.

[2021-03-05 17:27] obliviateandsurrender commented on #9
Hi @HuangJunye. Yes, we're looking forward to doing these tasks in the next few weeks.

[2021-03-05 18:15] pdc-quantum commented on #20
“See” you Monday!

[2021-03-05 20:34] YumaNK commented on #31
@HuangJunye

In my understanding the direction of this issue #31 may correspond to a sort of niche in quantum finance, so that this direction inherits #21.
To make #31 more compatible with #21, I just add the "explainer"  into the derivable.

[2021-03-05 20:40] splch commented on #2
Pumped to program Pulse!🤩

[2021-03-05 20:54] Cryoris commented on #12
We synced on the project plan and I updated the description accordingly.

[2021-03-05 22:31] AzizNgoueya commented on #9
@HuangJunye sure, we will do that next week

[2021-03-05 23:37] #10 closed

[2021-03-05 23:45] HwajungKang opened #40 "Create a tutorial for Iterative Phase Estimation (IPE) algorithm"
# Description
The "length" of a quantum circuit is the primary factor when determining the magnitude of the errors in the resulting output distribution; quantum circuits with greater depth have decreased fidelity. Therefore, implementing algorithms based on shallow depth circuits is of the great importance in near-term quantum computing.  Iterative Phase Estimation (IPE) algorithm is one such algo

[2021-03-05 23:47] HwajungKang commented on #10
replaced by #40

[2021-03-06 00:18] e-eight commented on #30
Hi @HuangJunye. Please assign this to me. Thanks.

[2021-03-06 01:15] jwoehr commented on #39
@1ucian0 and I met on this today.

Our goal in the context of the mentor experience is to separate QASM into its own module and unify its programmatic usage around a functional syntax.

We will implement  this with QASM2 and lay the groundwork for QASM3 to inherit this architecture.

Quick notes from our shared document:

- QASM2
  - Putting it in its own module (not package)
  - `from qiskit.qasm

[2021-03-06 04:23] jwoehr commented on #39
We also discussed the following tangential QASM desideratum:

- Control Flow Support
  - https://github.com/Qiskit/qiskit-terra/issues/5898
  - IR (DAG) should support this first
  - Export control flow into QASM3

[2021-03-06 04:55] Abhigyan-Mishra commented on #16
Dropping a comment as requested.
And sure we will change the project description (refine it).

[2021-03-06 05:18] spencerking commented on #27
@HuangJunye Thanks for your help

[2021-03-06 06:11] ManjulaGandhi commented on #12
Thanks a lot for selecting! Would be very glad to contribute and be part of the team.

[2021-03-06 07:23] knamba-jp commented on #24
@HuangJunye We've just started talking with our mentor and studying this issue.

[2021-03-06 08:23] mantcep commented on #12
Really glad to be working on this project! Thanks @Cryoris for updating the description!

[2021-03-06 10:59] sumitpuri commented on #9
@HuangJunye Ready to take this on..

[2021-03-07 10:13] 0sophy1 commented on #2
happy to join! :)

[2021-03-08 13:30] Morcu commented on #40
You can assign me this issue :)

[2021-03-08 15:19] filippotramonto commented on #40
me too. thanks :-)

[2021-03-08 22:39] attp opened #41 "Quantum Neural Network section for Qiskit Textbook Quantum Machine Learning chapter"
# Description
Write the Quantum Neural Network section for the Qiskit Textbook Quantum Machine Learning chapter. This will comprise of 2-3 pages, introducing quantum neural networks, building one from the ground up, then discussing the issues in training them, and also talking about the different architectures and applications.

# Mentor
@attp

# Participant
@amacaluso

# Deliverable
A set of Jupy

[2021-03-08 22:42] waheeda-saib opened #42 "QML for Quantum chemistry"
# Description
The project is concerned with integrating quantum machine learning with quantum simulation to develop new models applicable to the quantum chemistry domain.

The First phase of the project deals with the replication of paper : https://arxiv.org/pdf/2011.02966.pdf
The Second phase is the modification of the QML model for a small quantum chemistry use case.

# Mentor/s
Waheeda Saib

#

[2021-03-09 03:56] attp opened #43 "QML Qiskit Implementations"
# Description
1. Implement https://quantum-journal.org/papers/q-2020-02-06-226/ in Qiskit. @eraraya-ricardo already has a PennyLane implementation of the algorithm.
2. Implement https://arxiv.org/abs/1909.12264 in Qiskit. PennyLane version can be found at https://pennylane.ai/qml/demos/qgrnn.html

# Mentor/s
@attp

# Participant
@eraraya-ricardo

# Deliverables
Blog post for (1) and Qiskit textboo

[2021-03-09 14:45] ryanfmandelbaum commented on #15
3/9/21: Met, set expectations, which include:
2-3 blogs before end of internship, one of which is a long-form story of approximately 1000 words
WIll meet with Kiran approximately weekly to do writing lessons and check-ins
assigned for 3/22/21, Kiran to come with Ryan with 3 story ideas based on Qiskit and Quantum Community

[2021-03-09 15:32] eraraya-ricardo commented on #43
Sure, thanks Junye!

[2021-03-09 16:25] amacaluso commented on #41
Ok, thanks Junye!

[2021-03-09 18:13] iqranaz240 commented on #30
Hi @HuangJunye <https://github.com/HuangJunye>,

Looking forward to working on it.

Thanks.

On Sat, Mar 6, 2021 at 5:18 AM Soham Pal <notifications@github.com> wrote:

[2021-03-09 20:04] jwoehr commented on #39
- added @1ucian0 as collaborator on my fork of Terra [jwoehr /qiskit-terra](https://github.com/jwoehr/qiskit-terra)
- created branch [unified_qasm_api](https://github.com/jwoehr/qiskit-terra/tree/unified_qasm_api)

Next I will dig up my work on the functional API as a module of Terra from last year or recreate it from what we left in [1ucian0 /qiskit-openqasm2](https://github.com/1ucian0/qiskit-op

[2021-03-10 12:34] kareem1925 commented on #42
yeah sure (Y)

[2021-03-10 18:35] jwoehr commented on #39
Have recreated the `qasm2` module in the `unified_qasm_api` in the  `jwoehr /qiskit-terra` fork.
It passes `tox`.

[2021-03-11 05:23] ibmamnt commented on #24
@HuangJunye I (ibmamnt) has also started to work on this project.

[2021-03-11 21:01] jwoehr commented on #39
Updated the functional interface for `export()` in the `jwoehr /qiskit-terra` fork to match the code now found in `QuantumCircuit`

[2021-03-12 14:27] jwoehr commented on #39
@1ucian0 and @jwoehr met today:

### Coding assignment
- Work towards a PR based on the `qasm2` module
  - Remove pluggable importer/exporter support from `functions.py`
  - Make sure imports come from correct module? (`qasm2` vs `qasm`)
  - Remove duplicated code from `QuantumCircuit` and deprecate the qasm methods in that class in favor of the functional interface
### Design of Qasm2 and Qasm3
-

[2021-03-12 16:12] jwoehr commented on #39
Opened https://github.com/Qiskit/openqasm/pull/162

[2021-03-13 01:48] jwoehr commented on #39
In `unified_qasm_api` branch of `jwoehr /qiskit-terra`
- Removed duplicated code from QuantumCircuit now that the logic is in qiskit.qasm2.functions
- Recast functions in QuantumCircuit to call qiskit.qasm2.functions
- Moved the Pygments code back into QuantumCircuit from qiskit.qasm2.functions
- Deprecated appropriately in QuantumCircuit for those functions that are simply stubbed to qiskit.qasm2

[2021-03-13 17:14] jwoehr commented on #39
Added a release note.
@1ucian0 , if we are going to PR before proceeding to change the .qasm() / ._qasm() logic of individual operators, now is the time to do it. Or if you want me to proceed to that further stage of development, please let me know.

[2021-03-18 02:43] HuangJunye commented on #39
Awesome work @jwoehr Thanks for sharing all the updates for the project. Looks really exciting!

[2021-03-18 03:26] jwoehr commented on #39
Thanks for kind words. Just having fun :)

[2021-03-18 08:09] HuangJunye commented on #16
@sierpinskiii Can you comment on this issue so that I can assign you? Please also work with your mentor to refine the project, define scope and deliverables and update the project description in this issue.

[2021-03-18 08:26] sierpinskiii commented on #16
Sorry, I was late. Dropping a comment as requested.

[2021-03-18 09:26] shesha-raghunathan commented on #20
@HuangJunye Have had a meeting with @ShellyGarion.

[2021-03-18 13:59] ShellyGarion commented on #20
Plan:
1. Open a PR in qiskit-ignis with a Jupyter notebook describing Bayesian inference for standard RB
2. Further explore Bayesian methods for interleaved RB (as described in Accelerated RB paper above)

[2021-03-19 09:47] AzizNgoueya opened #44 "Mixed state discrimination"
# Description
Extend the current discriminator functionality to allow for mixed state outputs. Instead of a discriminator that always outputs 0 or 1, it may be useful for it to output a mixed state for states it's not confident on. A simple implementation could be a discriminator that draws bounds of a certain radius around the centroids for 0 and 1, then classifies all points outside of those bou

[2021-03-19 13:19] jwoehr commented on #39
Created PR #6053

[2021-03-19 13:40] jwoehr commented on #39
Next idea:

[code]

[2021-03-19 14:10] jwoehr commented on #39
Our discussion today was ideas to tidy up Qasm2 awaiting advent of Qasm3.

- Load Qasm2
  - New parser <- subset of proposed Qasm3 ANTLR grammar?
  - AST -> Circuit, no DAG (see [previous comment ](https://github.com/qiskit-community/qiskit-advocate-mentorship-program/issues/39#issuecomment-802840878))
  - Save info on custom gate definitions and parameter bindings to QuantumCircuit metadata
- Exp

[2021-03-19 15:01] mtreinish commented on #9
Sorry I missed this until just now. But yeah, that's basically the bulk of it, that PR was just to make it an optional dependency because it's only used in the discriminator module which is only used by a subset of ignis's user base and it's a fairly large dependency that some users have had trouble installing (mostly because of the C++ dependency on platforms where they do not ship precompiled bi

[2021-03-19 16:57] Travis-S commented on #9
@mtreinish I see. That makes sense.

[2021-03-22 16:21] HuangJunye opened #45 "Mid-term checkpoint"
Hi Advocates! On Thursday, April 1st we will have the mid-point demos of your projects during the monthly meetup times. There are two meetup times to accomodate our international audience!  Eastern hemisphere (GMT+0), 10am and Western hemisphere (ET/GMT-5), 4pm.

[Please fill out this form](https://airtable.com/shrfMwdWQpKU2vsQq) by Tuesday, 3/30, to let us know which time you plan to present, as

[2021-03-22 16:30] HuangJunye commented on #45
@molar-volume
@Abhigyan-Mishra
@sierpinskiii
@EACMichiels
@thetronjohnson
@bagmk
@nahumsa
@georgios-ts
@Chriscrosser3310
@IvanIsCoding
@filippotramonto
@morcu
@AzizNgoueya
@sumitpuri
@obliviateandsurrender
@hykavitha
@zyzhang1992
@shesha-raghunathan
@pdc-quantum
@ManjulaGandhi
@mantcep
@YumaNK
@TharrmashasthaPV
@jwoehr
@edwinagnew
@Matt-Stypulkoski
@alanspace
@splch
@faraimazh
@kUmezawa
@0sophy1
@

[2021-03-22 16:32] HuangJunye commented on #45
Sorry for pinging everyone here. This will only be used for making announcements. Please fill up [the form](https://airtable.com/shrfMwdWQpKU2vsQq) for mid-term checkpoint presentation and provide us feedback!

[2021-03-22 21:12] jwoehr commented on #45
@HuangJunye assuming we filled out the form and then completely forgot what we said, how can we determine what time we promised to be available, please? "Asking for a friend." :) :) :)

[2021-03-22 22:02] pdc-quantum commented on #45
@HuangJunye That this seems to be the mentee list. I am both as mentor in one project and mentee in another. I read on the form:
"Are you a mentor or mentee? If you have both roles, please submit two separate responses as each role". However  I wonder if the other mentors will be asked to fill out the form. Please be kind to confirm if I have to fill out a second form as mentor.
And thank you agai

[2021-03-24 08:21] HuangJunye commented on #45
You can just DM me if you forgot about the time slot. But for most people only one of the time slot is convenient so it's usually not a problem.

[2021-03-24 08:23] HuangJunye commented on #45
I initially plan to contact mentors separately on Slack to ask them to fill up the feedback form as well, but perhaps adding them here is also a good idea. As for you, please fill up the form twice, one as mentor and the other as mentee.

[2021-03-24 08:28] HuangJunye commented on #45
Mentors please fill out [the feedback form](https://airtable.com/shrfMwdWQpKU2vsQq) as well. Please also urge your mentees to fill out the form, select presentation slot and prepare for the presentation as the mid-term checkpoint is just one week away. Thank you very much!

| Mentors                              |
|--------------------------------------|
| Bryce Fuller (@BryceFuller)          |
|

[2021-03-26 14:19] jwoehr commented on #39
Meeting today with Dr. Bello

- Goal still DAG-free direct AST-to-`QuantumCircuit` assembly of openqasm2
- Use openqasm3 ANTLR grammar as a model for a revised openqasm2 parser
  - `grammar` subdir of `qiskit-terra/qiskit/qasm2` contain grammar and all generated files
  - add `antlr4` to pip requirements for qiskit-terra
  - OpenQASM 2.x standard specifies code annotations may appear in comments

[2021-03-26 17:48] jwoehr commented on #39
Branched `unified_qasm_api branch` to [grammar branch](https://github.com/jwoehr/qiskit-terra/tree/grammar)

[2021-03-29 16:21] HuangJunye commented on #45
We have received 18 mentee responses from 15 teams so far. Please [fill out the from](https://airtable.com/shrfMwdWQpKU2vsQq) by Tuesday. 3/30 to give some enough time to prepare for the mid-term checkpoint. This is a joint form for presentation and feedback so even if your teammate has filled out the form and indicated a presentation slot, we still want each one of you to fill the form to give us

[2021-03-30 08:48] obliviateandsurrender opened #46 "Clustering Methods for Excited State Promoted Readout"
# Description
Excited State Promoted (ESP) readout is a way to improve qubit readout fidelity by exciting the |1> state to the |2> state for readout. This essentially changes the discrimination problem from a two-state to three- state system. We will try different clustering algorithms on real data to measure their effectiveness and implement a method for effective discrimination. The metric for s

[2021-03-31 15:02] jwoehr commented on #39
Meeting today with Dr. Bello

## Qiskit `QuantumCircuit` objects need to output themselves as OpenQASM 3.

This brings some facets of the implementation to the forefront.

- The `qelib1.inc` is not actually used by the OpenQASM 2 translator.
- In a new PR [standard gates in qiskit in its own inc file #6125](https://github.com/Qiskit/qiskit-terra/pull/6125) `qelib1.inc` is returned to its original

[2021-04-01 02:24] HuangJunye commented on #45
Please see the presentation order [here](https://airtable.com/shrxZ9bgEeI0Ulq5J) (password: qiskitadvocate). Please let me (Kallie) know if you want to change your presentation time for Eastern (Western) hemisphere call. Please email us your presentation slides (pptx or pdf format) before the call as backup in case you face technical issues of sharing screen. We will upload the presentation slides

[2021-04-01 09:03] hykavitha commented on #1
thanks @frankharkins  for guiding on this.

[2021-04-09 13:15] jwoehr commented on #39
Meeting with Dr. Bello 2021-04-09

- Move forward with qasm2 code translator based on ANTLR 4 grammar.
- Examine if possible to what extent gates are actually parsed from `qelib1.inc` and/or from any other file `include`ed by the programmer and move to regularize this in the new qasm2 code translator.
  - Keep in mind that changing the way `include` actually operates could break test cases if form

[2021-04-16 00:51] jwoehr commented on #39
Notes before meeting with Dr. Bello scheduled for 2021-04-16:

- Discussion of pragmas in OpenQASM 2 comments
  - In 3.0 grammar, comments are `skip`
- Include path
  - Is implemented in [nuqasm2](https://github.com/jwoehr/nuqasm2) and was originally in unified API as first presented in 2020 but later discarded
    - Not sure how "really using" includes in OpenQASM 2 is going to work without this?

[2021-04-16 03:52] nalraajan opened #48 "Quantumized Data Types in Programming Languages"
# Description
Current programming languages have various data types to store different types of data. The storage of data is different for each data type.

Instead we have a quantum data type, that holds any types of data. Only the execution time the application choose what data it need to store. Same storage is used for any data storage. Only the application execution makes difference to retrieve

[2021-04-16 04:25] desireevl commented on #12
Hey, excited to see these implemented in Qiskit! Was just wondering if this project is similar to this? https://github.com/hkhetawat/QArithmetic

[2021-04-16 06:50] Cryoris commented on #12
Some of the operations are the same yeah, though this projects implements them as library circuits with rigorous tests rather than as functions (also we might include some more variants) see e.g. the first part on the adders: Qiskit/qiskit-terra#6164.

[2021-04-16 14:42] jwoehr commented on #39
Meeting 2021-04-16 with Dr. Bello

- Continue implementing qasm2 parse -> AST
- AST -> code generation may be a direct port from nuqasm2
- Support \\@ metacomments

[2021-04-17 06:10] omarcostahamido commented on #39
_oh la la_, this is interesting!

(just commenting here so that I can receive the notifications and learn a bit as well ^^)

since you're rewriting the qasm parser can you include a tiny fix update for [#6169](https://github.com/Qiskit/qiskit-terra/issues/6169)?

[2021-04-17 11:57] 1ucian0 commented on #39
Maybe a possible use for `PRAGMA`s? Something like:

[code]

where `//@ QISKIT_DEFINITION` means "take the qiskit definition instead".

[2021-04-21 20:55] jwoehr commented on #39
Meeting 2021-04-16 with Dr. Bello

- Continue implementing qasm2 parse -> AST
- AST -> code generation may be a direct port from nuqasm2
- Support \\@ metacomments

[2021-04-21 21:08] jwoehr commented on #39
## Progress up to 2021

The qasm2 file:
[code]
... using the new antlr4 stuff yields an AST as follows:
[code]
... etc ... GSect SSect TSect not shown above.
_(The `None, None` at the head of the CSect is an"unfinished stuff" bug)_

## Qasm 2 Metacomments
I'm also ready to propose about metacomments. [Good example from Slack user requirement](https://qiskit.slack.com/archives/C7SS31917/p1618929236

[2021-04-21 21:23] jwoehr commented on #39
Fixed

[2021-04-23 12:16] 1ucian0 commented on #39
[code]

[2021-04-23 12:24] 1ucian0 commented on #39
[code]

[2021-04-23 12:28] 1ucian0 commented on #39
[code]

[2021-04-30 04:41] jwoehr commented on #39
## Progress for week ending 2021-04-30

1. Created class Qasm2Loader implementing:
    * `Qasm2Loader.ast_qasm_str()`
    * `Qasm2Loader.ast_qasm_file()`
1. Modified grammar to support metacomments.
    * For now using `/@` to avoid modifying extant sections of qasm antlr4 grammar
1. Implemented metacomments in Qasm2Listener and Qasm2Loader.
    * They appear in the Code section directly before th

[2021-04-30 13:17] jwoehr commented on #39
## Meeting with Dr. Bello 2021-04-30

### Jack's task list

- Change "metacomment" to "annotation".
  - Remember the `initialize`/`initialize2` use case raised by Dr. Bello earlier in this issue.
- Continue with Gate section of AST
- When that is done, start on translator

[2021-05-07 18:29] jwoehr commented on #39
## Progress week ending 2021-05-07

- Gate Section implemented
- Include path search implemented and modified to correctly use core libs path when loading default includes from default path
  - The above includes options to ignore default path and load known default includes from regular include path

[2021-05-14 03:57] jwoehr commented on #39
## Progress week ending 2021-05-14

- New `Qasm2Translator` class
  - translates
    - qubit and clbit declarations
    - standard gates without parameters
    - metacomments
  - profiles on demand
- Modified Code Section
  - deletes `expression_list` field
  - adds
    - `parameter_list` field
    - `target_list` field
- Modified Gate Section holds
  - compiled gate field
  - op field
  - reverse

[2021-05-14 13:06] jwoehr commented on #39
## Meeting 2021-05-14 with Dr. Bello

- `QuantumCircuit` op lookup can't be directly from `__dict__`, need lookup table
- Can fill in gate defs in that lookup table as they are JIT compiled
- Pull into `grammar` branch from its branch parent `unified_qasm_api` to avoid merge conflicts.

[2021-05-21 11:45] jwoehr commented on #39
## Progress for week ending 2021-05-21
- Updated to latest cut of Qasm 3 grammar and backported to our qasm2 grammar
  - Modified `Qasm2Listener` accordingly
- Only pass ops which exist in the standard list to QuantumCircuit
  in `Qasm2Translator.apply_standard_gate()`

[2021-05-21 13:38] jwoehr commented on #39
## Meeting 2021-05-21
Examined how to bind parameter expressions at translate time.

Example code:
[code]

[2021-06-03 22:23] jwoehr commented on #39
## Progress week ending 2021-06-04

- Updated to latest cut of Qasm 3 grammar and backported to our qasm2 grammar
  - Modified `Qasm2Listener` accordingly
- Translator now does standard gates with float params (need to work on evaluating expressions and trig)
  - Example:
[code]
- AST for Gate definitions better formulated, example:
[code]
- Work on `gate_def_for_gate()` and `gate_def_to_gate()`
-

[2021-06-04 03:56] omarcostahamido commented on #39
to the point. Looks very nice 😄

[2021-06-16 13:24] pdc-quantum commented on #27
The [Monte-Carlo-quantum-state-classifier Github organization](https://github.com/Monte-Carlo-quantum-state-classifier) is now housing our project.

An updated  [project description](https://github.com/Monte-Carlo-quantum-state-classifier/blog-quantum-state-classifier/blob/gh-pages/1_project_description.ipynb) is now available.

Notebooks and data are to be found [in this directory](https://github

[2021-06-16 13:54] pdc-quantum commented on #27
- The [Monte Carlo quantum state classifier](https://github.com/Monte-Carlo-quantum-state-classifier) is now housing our project
- An updated [project description](https://github.com/Monte-Carlo-quantum-state-classifier/blog-quantum-state-classifier/blob/gh-pages/1_project_description.ipynb) can be found here
- [This repository](https://github.com/Monte-Carlo-quantum-state-classifier/qiskit-quantu

[2021-06-16 13:56] pdc-quantum commented on #27
Sorry, this issue remains open of course

[2021-06-28 12:47] jwoehr commented on #39
The new OpenQASM 2 translator based on the OpenQASM 3 grammar works more or less completely now.
[code]

[2021-07-30 05:24] thanapong-skru commented on #21
Thank you Dr.Yuma , your blog is very helpful for me.

[2021-08-13 05:59] quantum-quant opened #49 "Interactive circuit schematic for Qiskit Metal"
# Description
When you want to show or understand an electrical circuit diagram, is it your instinct to sketch it out or write lines of code to generate it? The former is probably your answer. Of course, programmatically generating a circuit schematic is highly efficient and necessary at times but drawing a circuit schematic node by node, branch by branch, is most likely what you are used to, whet

[2021-08-14 00:19] marcolincs opened #50 "Qiskit Metal to cloud-ready"
Description
Empowering a new community of students, academics and professionals with the latest and greatest Quantum design tools is an exciting endeavor, yet very challenging. One of the major roadblocks can be the accessibility of those tools. Open Source distribution grants access to the code, but it hardly helps when it comes to lowering the usability gap. Indeed, downloading, installing, sett

[2022-01-12 11:41] HuangJunye commented on #48
Closing this issue as it was not a project for QAMP Spring 21

[2022-01-12 11:41] #48 closed

[2022-01-12 11:47] HuangJunye commented on #21
Closing this issue as #31 provides more specific direction and it's the actual project that was worked on.

[2022-01-12 11:47] #21 closed

[2022-06-28 15:41] dotslaser commented on #17
@Cryoris  @HuangJunye Hi! Has there been any progress on this issue? I can't find any documentation related to this. Thanks!!

[2022-10-26 13:52] #12 closed